<%- include('../../partials/header/authHead.ejs') %>

    <div class="s_container <%= signup_mode ? 'sign-up-mode' : '' %>">
      <div class="forms-container">
        <div class="signin-signup">

          <form id="forms" action="/auth/login" method="post" class="sign-in-form">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input name="email" type="text" placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input name="password" type="password" placeholder="Password" />
            </div>
            <div style="width:100%;text-align:right;max-width: 380px">
              <p><a href="#">Forgot Password?</a></p>
            </div>
          
            

            <input type="submit" value="Login" class="s_btn solid" />
            <p class="social-text">Or Sign in with social platforms</p>
          </form>

          <form id="forms1" action="/auth/sign-up" method="post" class="sign-up-form">
            <h2 class="title">Sign up</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input name="username" type="text" placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input name="email" type="email" placeholder="Email" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input name="password" type="password" placeholder="Password" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input name="c_password" type="password" placeholder="Confirm Password" />
            </div>
            <input type="submit" class="s_btn" value="Sign up" />
            <p class="social-text">Or Sign up with social platforms</p>
          </form>

        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New here ?</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
              ex ratione. Aliquid!
            </p>
            <button class="s_btn transparent" id="sign-up-btn">
              Sign up
            </button>
          </div>
          <img src="img/log.svg" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>One of us ?</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
              laboriosam ad deleniti.
            </p>
            <button class="s_btn transparent" id="sign-in-btn">
              Sign in
            </button>
          </div>
        </div>
      </div>
    </div>

    
    <%- include('../../partials/footer.ejs')  %>
    <script src="/scripts/auth.js"></script>
</body>
</html>