<%- include('../../partials/header/authHead.ejs') %>

    <div class="container-fluid">
        <div class="container py-5">
            <p class="text-center">We send a verification code to <span class="fw-bold">soikatkhan61@gmail.com</span> <br> please submit the code to verify your account.</p>
            <section class=" w-100 p-4 d-flex justify-content-center pb-4">
                <form>
                    <!-- Name input -->
                    <div class="form-outline mb-4">
                      <input type="text" id="form4Example1" class="form-control" />
                      <label class="form-label" for="form4Example1">6 digit code</label>
                    </div>
                  
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-success btn-block mb-4">Verify</button>
                  </form>
            </section>
            
        </div>
    </div>

    
    <%- include('../../partials/footer.ejs')  %>
</body>
</html>