<%- include('../../partials/header/authHead.ejs') %>

    <div class="container-fluid">
        <div class="container py-5">
            <p class="text-center">We send a verification code to <span class="fw-bold">
                    <%= user.email %>
                </span>
                <br> please submit the code to verify your account.
            </p>
            <h4 id="res" class="text-center text-success py-1 px-3"></h4>
            <p class="text-center" id="dashboard_link" style="display: none">Go to <a href="/">Dashboard</a></p>
            <div  class=" w-100 p-4 d-flex justify-content-center pb-4">
                <form action="/auth/verify" method="post"  id="verify_box" >
                    <input id="email" name="email" type="text" value="<%= user.email %>" hidden>
                    <!-- Name input -->
                    <div class="form-outline mb-4">
                        <input name="verify_id" type="text" id="code" class="form-control" />
                        <label class="form-label" for="form4Example1">8 digit code</label>
                    </div>

                    <!-- Submit button -->
                    <button id="submitBtn" class="btn btn-success btn-block mb-4">Verify</button>
                </form>
            </div>


        </div>
    </div>


    <%- include('../../partials/footer.ejs') %>

        </body>

        </html>