<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ICO Cryptocurrency - Bitcoin Landing Page Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="https://www.webstrot.com/html/tm/ico/landing_page_dark/apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- all css here -->
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="home/css/bootstrap.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="home/css/animate.css">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" href="home/css/jquery-ui.min.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="home/css/meanmenu.min.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="home/css/owl.carousel.min.css">
    <!-- bxslider css -->
    <!--flaticon css -->
    <link rel="stylesheet" href="home/css/flaticon.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="home/css/font-awesome.min.css">
    <link href="home/css/video-js.css" rel="stylesheet">
    <!-- style css -->
    <link rel="stylesheet" href="home/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="home/css/responsive.css">
    <!-- modernizr css -->
    <script src="home/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- preloader Start -->
    <div id="preloader">
        <div id="status"><img src="home/images/banner/loader.gif" id="preloader_image" alt="loader">
        </div>
    </div>
    <!--Header area start here-->
    <div section-scroll='0' class="wd_scroll_wrap">
        <header class="gc_main_menu_wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-6">
                        <div class="logo-area">
                            <a href="index.html"><img src="home/images/logo/logo.png" alt="logo" /></a>
                        </div>
                    </div>
                    <!-- Mobile Menu  Start -->
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-6">
                        <div class="menu-area  hidden-xs">
                            <nav class="wd_single_index_menu btc_main_menu">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/packages">Our Package</a></li>
                                    <li><a href="/task">Task</a></li>
                                </ul>
                            </nav>
                            <div class="login-btn">
                                <% if(isLoggedIn){ %> 
                                    <a href="/user/dashboard" class="btn1"></i><span>Dashoard</span></a>
                                <% }else{ %> 
                                    <a href="/auth/login" class="btn1"><i class="fa fa-user"></i><span>Login</span></a>
                                    <a href="/auth/sign-up" class="btn1"><i class="fa fa-user"></i><span>Sign Up</span></a>
                                <% } %> 
                               
                            </div>
                        </div>
                        <!-- mobile menu area start -->
                        <div class="rp_mobail_menu_main_wrapper visible-xs">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div id="toggle">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 31.177 31.177" style="enable-background:new 0 0 31.177 31.177;" xml:space="preserve" width="25px" height="25px">
                                            <g>
                                                <g>
                                                    <path class="menubar" d="M30.23,1.775H0.946c-0.489,0-0.887-0.398-0.887-0.888S0.457,0,0.946,0H30.23    c0.49,0,0.888,0.398,0.888,0.888S30.72,1.775,30.23,1.775z" fill="#fff" />
                                                </g>
                                                <g>
                                                    <path class="menubar" d="M30.23,9.126H12.069c-0.49,0-0.888-0.398-0.888-0.888c0-0.49,0.398-0.888,0.888-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,8.729,30.72,9.126,30.23,9.126z" fill="#fff" />
                                                </g>
                                                <g>
                                                    <path class="menubar" d="M30.23,16.477H0.946c-0.489,0-0.887-0.398-0.887-0.888c0-0.49,0.398-0.888,0.887-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,16.079,30.72,16.477,30.23,16.477z" fill="#fff" />
                                                </g>
                                                <g>
                                                    <path class="menubar" d="M30.23,23.826H12.069c-0.49,0-0.888-0.396-0.888-0.887c0-0.49,0.398-0.888,0.888-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,23.43,30.72,23.826,30.23,23.826z" fill="#fff" />
                                                </g>
                                                <g>
                                                    <path class="menubar" d="M30.23,31.177H0.946c-0.489,0-0.887-0.396-0.887-0.887c0-0.49,0.398-0.888,0.887-0.888H30.23    c0.49,0,0.888,0.398,0.888,0.888C31.118,30.78,30.72,31.177,30.23,31.177z" fill="#fff" />
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div id="sidebar">
                                <h1><a href="index.html#">Global Crypto</a></h1>
                                <div id="toggle_close">&times;</div>
                                <div id='cssmenu' class="wd_single_index_menu">
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/packages">Our Package</a></li>
                                        <li><a href="/task">Task</a></li>
                                        <% if(isLoggedIn){ %> 
                                            <li><a href="/user/dashboard">My Dashboard</a></li>
                                            <li><a href="/auth/logout">Logout</a></li>
                                        <% }else {%>
                                            <li><a href="/auth/login">Login</a></li>
                                            <li><a href="/auth/signup">Sign Up For Free</a></li>
                                        <% }%> 
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu  End -->
                    </div>
                </div>
            </div>
        </header>
        <!--Header area end here-->
        <!--Slider area start here-->
        <section class="slider-area">
            <canvas>
                <script src="home/js/three.js"></script>
                <script src="home/js/stats.min.js"></script>
                <script src="home/js/Projector.js"></script>
                <script src="home/js/CanvasRenderer.js"></script>
            </canvas>
            <div id="particles-js">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="carousel-captions caption-1">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="slider-content">
                                                <ul>
                                                    <li data-animation="animated bounceInDown" class="slider_social_icon1"><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
                                                    <li data-animation="animated bounceInDown" class="slider_social_icon2"><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
                                                    <li data-animation="animated bounceInDown" class="slider_social_icon3"><a href="index.html#"><i class="fa fa-send-o"></i></a></li>
                                                    <li data-animation="animated bounceInDown" class="slider_social_icon4"><a href="index.html#"><i class="fa fa-bitcoin"></i></a></li>
                                                    <li data-animation="animated bounceInDown" class="slider_social_icon5"><a href="index.html#"><i class="fa fa-envelope"></i></a></li>
                                                </ul>
                                                <h2 data-animation="animated bounceInLeft">Global Crypto - Lending & <br>Investment Platform</h2>
                                                <div class="buttons">
                                                    <a href="/task" class="btn1" data-animation="animated bounceInUp">Complete task and Earn</a>
                                                    <a href="/packages" class="btn2" data-animation="animated bounceInUp">Our Packages!</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden-xs hidden-sm">
                                            <div class="btc_timer_section_wrapper">
                                                <div id="clockdiv">
                                                    <div>
                                                        <span class="days"></span>
                                                        <div class="smalltext">Days</div>
                                                    </div>
                                                    <div>
                                                        <span class="hours"></span>
                                                        <div class="smalltext">Hours</div>
                                                    </div>
                                                    <div>
                                                        <span class="minutes"></span>
                                                        <div class="smalltext">Minutes</div>
                                                    </div>
                                                    <div>
                                                        <span class="seconds"></span>
                                                        <div class="smalltext">Seconds</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="slider-content">
                                            <ul>
                                                <li data-animation="animated bounceInDown" class="slider_social_icon1"><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
                                                <li data-animation="animated bounceInDown" class="slider_social_icon2"><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
                                                <li data-animation="animated bounceInDown" class="slider_social_icon3"><a href="index.html#"><i class="fa fa-send-o"></i></a></li>
                                                <li data-animation="animated bounceInDown" class="slider_social_icon4"><a href="index.html#"><i class="fa fa-bitcoin"></i></a></li>
                                                <li data-animation="animated bounceInDown" class="slider_social_icon5"><a href="index.html#"><i class="fa fa-envelope"></i></a></li>
                                            </ul>
                                            <h2 data-animation="animated bounceInLeft">Global Crypto - Lending & <br>Investment Platform</h2>
                                            <div class="buttons">
                                                <a href="/task" class="btn1" data-animation="animated bounceInUp">Complete task and Earn</a>
                                                <a href="/packages" class="btn2" data-animation="animated bounceInUp">Our Packages!</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  hidden-xs hidden-sm">
                                        <div class="btc_timer_section_wrapper">
                                            <div id="clockdiv2">
                                                <div>
                                                    <span class="days"></span>
                                                    <div class="smalltext">Days</div>
                                                </div>
                                                <div>
                                                    <span class="hours"></span>
                                                    <div class="smalltext">Hours</div>
                                                </div>
                                                <div>
                                                    <span class="minutes"></span>
                                                    <div class="smalltext">Minutes</div>
                                                </div>
                                                <div>
                                                    <span class="seconds"></span>
                                                    <div class="smalltext">Seconds</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-nevigation">
                            <a class="prev" href="index.html#carousel-example-generic" role="button" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="next" href="index.html#carousel-example-generic" role="button" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Slider area end here-->
        <section class="currency-area">
            <div class="container-fliud">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="rete-list bt_title wow  fadeInUp animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeInUp;">
                            <div class="content">
                                <div class="con">
                                    <h2><img src="home/images/icons/1.png" alt=""><span>Bitcoin</span></h2>
                                    <button class="btn3">4.160651 BTC</button>
                                </div>
                            </div>
                        </div>
                        <div class="rete-list bt_title wow  fadeInUp animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInUp;">
                            <div class="content">
                                <div class="con">
                                    <h2><img src="home/images/icons/2.png" alt=""><span>Ethereum</span></h2>
                                    <button class="btn3">3.245000 ETH</button>
                                </div>
                            </div>
                        </div>
                        <div class="rete-list bt_title wow  fadeInUp animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeInUp;">
                            <div class="content">
                                <div class="con">
                                    <h2><img src="home/images/icons/3.png" alt=""><span>Dollar (USD)</span></h2>
                                    <button class="btn3">58634.000 USD</button>
                                </div>
                            </div>
                        </div>
                        <div class="rete-list bt_title wow  fadeInUp animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: fadeInUp;">
                            <div class="content">
                                <div class="con">
                                    <h2><img src="home/images/icons/4.png" alt=""><span>Total USD</span></h2>
                                    <button class="btn3">111969.062 USD</button>
                                </div>
                            </div>
                        </div>
                        <div class="rete-list hidden-md   wow  fadeInUp animated" data-wow-duration="2.1s" style="visibility: visible; animation-duration: 2.1s; animation-name: fadeInUp;">
                            <div class="content">
                                <div class="con">
                                    <h2><img src="home/images/icons/5.png" alt=""><span>Token Sale</span></h2>
                                    <button class="btn3">346636.775</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--About area start here-->
    <div section-scroll='1' class="wd_scroll_wrap">
        <section class="about-area pd-t70 pd-b100 jarallax bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="about-content">
                            <h2 class="f-40 fw-400 wow  fadeInUp animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeInUp;">About The Project</h2>
                            <p class="wow  fadeInUp animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInUp;">Global Crypto is a lending and investment, multicurrency and multifunctional online platform based on blockchain technology. There investors and borrowers meet each other and have the opportunity to lend money on mutually beneficial.</p>
                            <p class="wow  fadeInUp animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeInUp;">Global Crypto is a unique service that allows individuals to access loans from the comfort of their home in fiat currencies or crypto-currencies.</p>
                            <p class="wow  fadeInUp animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: fadeInUp;">Global Crypto is a multi-functional platform which allows each participant to keep money in a multi-currency online wallet, buy and sell currency on the exchange, invest money, get a loan in a convenient currency.</p>
                            <div class="buttons">
                                <a href="/task" class="btn1" data-animation="animated bounceInUp">Complete task and Earn</a>
                                <a href="/packages" class="btn2" data-animation="animated bounceInUp">Our Packages!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="about-img wow  fadeInUp animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeInUp;">
                            <img src="home/images/about/1.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About area end here-->
        <div class="sud">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 181.1" style="enable-background:new 0 0 1920 181.1;" xml:space="preserve">
                <style type="text/css">
                    .st0 {
                        fill-rule: evenodd;
                        clip-rule: evenodd;
                        fill: #10122d;
                    }
                </style>
                <g>
                    <path class="st0" d="M0,80c0,0,28.9-4.2,43-13c14.3-9,71-35.7,137,5c17.3,7.7,33.3,13,48,11c17.3,0.3,50.3,4.7,66,23
                     c20.3,9.7,68,40.3,134-12c24-11,59-16.3,104,2c21,7.3,85,27.7,117-14c24-30.7,62.7-55,141-12c26,10.3,72,14.7,110-14
                     c37.7-19,89.7-29,122,53c23,32.7,47.7,66.3,97,26c24-22.7,51-78.3,137-38c0,0,28.3,15.7,52,15c23.7-0.7,50.7,4.3,76,41
                     c19.7,19.7,71,36.7,121-2c0,0,22.3-16,55-12c0,0,32.7,6.7,56-71c23.3-76,79-92,122-29c9.3,13.7,25,42,62,43c37,1,51.7,25.3,67,48
                     c15.3,22.7,51,22.7,53,23v28.1H0V80z" />
                </g>
            </svg>
        </div>
    </div>
    <div section-scroll='2' class="wd_scroll_wrap">
        <section class="features-area section">
            <div id="features-js">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="section-heading2 wow  fadeInUp animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeInUp;">
                                <h2>Our Features</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="featured-lists">
                                <ul>
                                    <li>
                                        <div class="col-sm-6 pd-0 hidden-xs wow  fadeInUp animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInUp;">
                                            <div class="contents-l mr-b30">
                                                <h2>Lending</h2>
                                                <p>Unique platform for lending and investment with a safety fund
                                                    <br>and cooperation with world-wide arbitration.</p>
                                                <a href="index.html#" class="btn1">read more</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 pd-0 wow  fadeInUp animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInUp;">
                                            <div class="imgs-l">
                                                <figure><img src="home/images/features/1.png" alt="" /></figure>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 pd-0 visible-xs  wow  fadeInUp animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInUp;">
                                            <div class="contents-l mr-b30">
                                                <h2>Lending</h2>
                                                <p>Unique platform for lending and investment with a safety fund
                                                    <br>and cooperation with world-wide arbitration.</p>
                                                <a href="index.html#" class="btn1">read more</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="rl">
                                        <div class="col-sm-6 pd-0 floatright mr-b30 hidden-xs wow  fadeInUp animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeInUp;">
                                            <div class="contents-r">
                                                <h2>Exchange Money</h2>
                                                <p>Exchange between all popular currencies with a couple of clicks.
                                                    <br>Instant send from one currency to another.</p>
                                                <a href="index.html#" class="btn1">read more</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 pd-0 wow  fadeInUp animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeInUp;">
                                            <div class="imgs-r">
                                                <figure><img src="home/images/features/2.png" alt="" /></figure>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 pd-0 floatright mr-b30 visible-xs wow  fadeInUp animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeInUp;">
                                            <div class="contents-r">
                                                <h2>Exchange Money</h2>
                                                <p>Exchange between all popular currencies with a couple of clicks.
                                                    <br>Instant send from one currency to another.</p>
                                                <a href="index.html#" class="btn1">read more</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-sm-6 pd-0 hidden-xs wow  fadeInUp animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: fadeInUp;">
                                            <div class="contents-l mr-b30">
                                                <h2>Investment</h2>
                                                <p>Improved system of borrower's verification. Providing
                                                    <br>verification services for other services.</p>
                                                <a href="index.html#" class="btn1">read more</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 pd-0 wow  fadeInUp animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: fadeInUp;">
                                            <div class="imgs-l">
                                                <figure><img src="home/images/features/3.png" alt="" /></figure>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 pd-0 visible-xs wow  fadeInUp animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: fadeInUp;">
                                            <div class="contents-l mr-b30">
                                                <h2>Investment</h2>
                                                <p>Improved system of borrower's verification. Providing
                                                    <br>verification services for other services.</p>
                                                <a href="index.html#" class="btn1">read more</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="rl">
                                        <div class="col-sm-6 pd-0 floatright mr-b30 hidden-xs wow  fadeInUp animated" data-wow-duration="2.1s" style="visibility: visible; animation-duration: 2.1s; animation-name: fadeInUp;">
                                            <div class="contents-r">
                                                <h2>Online Wallet</h2>
                                                <p>Keep your money, exchange your money, invest your money, pay
                                                    <br>services and make purchases.</p>
                                                <a href="index.html#" class="btn1">read more</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 pd-0 wow  fadeInUp animated" data-wow-duration="2.1s" style="visibility: visible; animation-duration: 2.1s; animation-name: fadeInUp;">
                                            <div class="imgs-r">
                                                <figure><img src="home/images/features/4.png" alt="" /></figure>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 pd-0 floatright mr-b30 visible-xs wow  fadeInUp animated" data-wow-duration="2.1s" style="visibility: visible; animation-duration: 2.1s; animation-name: fadeInUp;">
                                            <div class="contents-r">
                                                <h2>Online Wallet</h2>
                                                <p>Keep your money, exchange your money, invest your money, pay
                                                    <br>services and make purchases.</p>
                                                <a href="index.html#" class="btn1">read more</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div section-scroll='3' class="wd_scroll_wrap">
        <section class="projects bg-img pd-t100 pd-b70 jarallax">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="section-heading">
                            <h2 class="wow  fadeInUp animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeInUp;">Advantage of the Project</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="project-list wow  fadeInUp animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeInUp;">
                            <div class="content">
                                <span class="icons"><img src="home/images/icons/6.png" alt=""/></span>
                                <h3>Blockchain <br>Technology</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="project-list wow  fadeInUp animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInUp;">
                            <div class="content">
                                <span class="icons"><img src="home/images/icons/7.png" alt=""/></span>
                                <h3>Advanced <br>Security System</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="project-list wow  fadeInUp animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeInUp;">
                            <div class="content">
                                <span class="icons"><img src="home/images/icons/8.png" alt=""/></span>
                                <h3>Multicurrency <br>Coins</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="project-list wow  fadeInUp animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: fadeInUp;">
                            <div class="content">
                                <span class="icons"><img src="home/images/icons/9.png" alt=""/></span>
                                <h3>Internal <br>Exchange</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="project-list wow  fadeInUp animated" data-wow-duration="2.1s" style="visibility: visible; animation-duration: 2.1s; animation-name: fadeInUp;">
                            <div class="content">
                                <span class="icons"><img src="home/images/icons/10.png" alt=""/></span>
                                <h3>Safety <br>Fund</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="project-list wow  fadeInUp animated" data-wow-duration="2.4s" style="visibility: visible; animation-duration: 2.4s; animation-name: fadeInUp;">
                            <div class="content">
                                <span class="icons"><img src="home/images/icons/11.png" alt=""/></span>
                                <h3>Cooperation <br>With Arbitration</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div section-scroll='4' class="wd_scroll_wrap">
        <section class="steps-area section">
            <div id="steps-js">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                            <div class="steps-heading">
                                <h2 class="wow  fadeInUp animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeInUp;">Few Steps For a Loan</h2>
                                <div class="right-con">
                                    <span>Scroll Down</span>
                                    <a data-scroll data-options='{ "speed": 100 }' href="index.html#steps"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="steps" class="steps-details bg-mg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-lg-offset-1">
                        <div class="steps-cont">
                            <ul>
                                <li class="l-con">
                                    <div class="cont wow  fadeInUp animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeInUp;">
                                        <h2>01. Registration On The Platform</h2>
                                        <p>Nam in lectus eget nisi aliquam ultrices. Aliquam at efficitur
                                            <br>nulla. Cras sodales eu nibh vel scelerisque. </p>
                                    </div>
                                    <span><i class="fa fa-users"></i></span>
                                </li>
                                <li class="r-con">
                                    <div class="cont wow  fadeInUp animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInUp;">
                                        <h2>02. Passing Verification</h2>
                                        <p>Nam in lectus eget nisi aliquam ultrices. Aliquam at efficitur
                                            <br>nulla. Cras sodales eu nibh vel scelerisque. </p>
                                    </div>
                                    <span><i class="fa fa-check-square-o"></i></span>
                                </li>
                                <li class="l-con">
                                    <div class="cont wow  fadeInUp animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeInUp;">
                                        <h2>03. Creating An Application For a Loan</h2>
                                        <p>Nam in lectus eget nisi aliquam ultrices. Aliquam at efficitur
                                            <br>nulla. Cras sodales eu nibh vel scelerisque. </p>
                                    </div>
                                    <span><i class="fa fa-edit "></i></span>
                                    <div class="mid-icons"></div>
                                </li>
                                <li class="r-con">
                                    <div class="cont wow  fadeInUp animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: fadeInUp;">
                                        <h2>04. Financing a Loan</h2>
                                        <p>Nam in lectus eget nisi aliquam ultrices. Aliquam at efficitur
                                            <br>nulla. Cras sodales eu nibh vel scelerisque. </p>
                                    </div>
                                    <span><i class="fa fa-university"></i></span>
                                </li>
                                <li class="l-con">
                                    <div class="cont wow  fadeInUp animated" data-wow-duration="2.1s" style="visibility: visible; animation-duration: 2.1s; animation-name: fadeInUp;">
                                        <h2>05. Activating a Loan</h2>
                                        <p>Nam in lectus eget nisi aliquam ultrices. Aliquam at efficitur
                                            <br>nulla. Cras sodales eu nibh vel scelerisque. </p>
                                    </div>
                                    <span><i class="fa fa-bell"></i></span>
                                </li>
                                <li class="r-con">
                                    <div class="cont wow  fadeInUp animated" data-wow-duration="2.4s" style="visibility: visible; animation-duration:2.4s; animation-name: fadeInUp;">
                                        <h2>06. Receiving Funds</h2>
                                        <p>Nam in lectus eget nisi aliquam ultrices. Aliquam at efficitur
                                            <br>nulla. Cras sodales eu nibh vel scelerisque. </p>
                                    </div>
                                    <span><i class="fa fa-paw"></i></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="sud">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 181.1" style="enable-background:new 0 0 1920 181.1;" xml:space="preserve">
                <style type="text/css">
                    .st0 {
                        fill-rule: evenodd;
                        clip-rule: evenodd;
                        fill: #10122d;
                    }
                </style>
                <g>
                    <path class="st0" d="M0,80c0,0,28.9-4.2,43-13c14.3-9,71-35.7,137,5c17.3,7.7,33.3,13,48,11c17.3,0.3,50.3,4.7,66,23
                     c20.3,9.7,68,40.3,134-12c24-11,59-16.3,104,2c21,7.3,85,27.7,117-14c24-30.7,62.7-55,141-12c26,10.3,72,14.7,110-14
                     c37.7-19,89.7-29,122,53c23,32.7,47.7,66.3,97,26c24-22.7,51-78.3,137-38c0,0,28.3,15.7,52,15c23.7-0.7,50.7,4.3,76,41
                     c19.7,19.7,71,36.7,121-2c0,0,22.3-16,55-12c0,0,32.7,6.7,56-71c23.3-76,79-92,122-29c9.3,13.7,25,42,62,43c37,1,51.7,25.3,67,48
                     c15.3,22.7,51,22.7,53,23v28.1H0V80z" />
                </g>
            </svg>
        </div>
    </div>
    <div section-scroll='5' class="wd_scroll_wrap">
        <div class="wd_scroll_wrap">
            <section class="video-des bg-img ">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="deslidt">
                                <ul>
                                    <li>
                                        <span class="years"><span class="con">2021</span></span>
                                        <div class="serials">
                                            <span class="cre"></span>
                                            <div class="col-sm-6 col-xs-12 left-con wow  fadeInUp animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeInUp;">
                                                <div class="box-con">
                                                    <div class="dbox">
                                                        <div class="dleft">
                                                            <div class="imgs"><img src="home/images/video/2.png" alt="" /></div>
                                                        </div>
                                                        <div class="dright">
                                                            <div class="content">
                                                                <h3>Idea</h3>
                                                                <p>(September - October)</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-xs-12 right-con  wow  fadeInUp animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInUp;">
                                                <div class="box-con">
                                                    <div class="dbox">
                                                        <div class="dleft">
                                                            <div class="content">
                                                                <h3>Market Research</h3>
                                                                <p>(October - December)</p>
                                                            </div>
                                                        </div>
                                                        <div class="dright">
                                                            <div class="imgs"><img src="home/images/video/3.png" alt="" /></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="years"><span class="con">2022</span></span>
                                        <div class="serials">
                                            <span class="cre"></span>
                                            <div class="col-sm-6 col-xs-12 left-con wow  fadeInUp animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeInUp;">
                                                <div class="box-con">
                                                    <div class="dbox">
                                                        <div class="dleft">
                                                            <div class="imgs"><img src="home/images/video/3.png" alt="" /></div>
                                                        </div>
                                                        <div class="dright">
                                                            <div class="content">
                                                                <p>(1Q 2021)</p>
                                                                <h3>Formation of foundersteam Business plan</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-xs-12 right-con wow  fadeInUp animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: fadeInUp;">
                                                <div class="box-con">
                                                    <div class="dbox">
                                                        <div class="dleft">
                                                            <div class="content">
                                                                <p>(2Q 2021)</p>
                                                                <h3>Start of Platform<br> Development</h3>
                                                            </div>
                                                        </div>
                                                        <div class="dright">
                                                            <div class="imgs"><img src="home/images/video/4.png" alt="" /></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="serials">
                                            <span class="cre"></span>
                                            <div class="col-sm-6 col-xs-12 left-con wow  fadeInUp animated" data-wow-duration="2.1s" style="visibility: visible; animation-duration: 2.1s; animation-name: fadeInUp;">
                                                <div class="box-con">
                                                    <div class="dbox">
                                                        <div class="dleft">
                                                            <div class="imgs"><img src="home/images/video/5.png" alt="" /></div>
                                                        </div>
                                                        <div class="dright">
                                                            <div class="content">
                                                                <p>(3Q 2021)</p>
                                                                <h3>WhitePaper<br> Landing page</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-xs-12 right-con wow  fadeInUp animated" data-wow-duration="2.1s" style="visibility: visible; animation-duration: 2.1s; animation-name: fadeInUp;">
                                                <div class="box-con">
                                                    <div class="dbox">
                                                        <div class="dleft">
                                                            <div class="content">
                                                                <p>(4Q 2021)</p>
                                                                <h3>Pre-Sale<br>Launch Platform<br>in beta test mode</h3>
                                                            </div>
                                                        </div>
                                                        <div class="dright">
                                                            <div class="imgs"><img src="home/images/video/6.png" alt="" /></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="years"><span class="con">2023</span></span>
                                        <div class="serials">
                                            <span class="cre"></span>
                                            <div class="col-sm-6 col-xs-12 left-con  wow  fadeInUp animated" data-wow-duration="2.3s" style="visibility: visible; animation-duration: 2.3s; animation-name: fadeInUp;">
                                                <div class="box-con">
                                                    <div class="dbox">
                                                        <div class="dleft">
                                                            <div class="imgs"><img src="home/images/video/7.png" alt="" /></div>
                                                        </div>
                                                        <div class="dright">
                                                            <div class="content">
                                                                <p>(1Q 2022)</p>
                                                                <h3>ICO Launch<br>Identification<br>Systemsand work<br>with API Partners</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-xs-12 right-con wow  fadeInUp animated" data-wow-duration="2.3s" style="visibility: visible; animation-duration: 2.3s; animation-name: fadeInUp;">
                                                <div class="box-con">
                                                    <div class="dbox">
                                                        <div class="dleft">
                                                            <div class="content">
                                                                <p>(2Q 2022)</p>
                                                                <h3>Launch the<br>Platform in<br>Full mode</h3>
                                                            </div>
                                                        </div>
                                                        <div class="dright">
                                                            <div class="imgs"><img src="home/images/video/8.png" alt="" /></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="serials">
                                            <div class="col-sm-12 col-xs-12 center-con wow  fadeInUp animated" data-wow-duration="2.5s" style="visibility: visible; animation-duration: 2.5s; animation-name: fadeInUp;">
                                                <div class="box-con">
                                                    <div class="dbox">
                                                        <div class="dleft">
                                                            <div class="imgs"><img src="home/images/video/9.png" alt="" /></div>
                                                        </div>
                                                        <div class="dright">
                                                            <div class="content">
                                                                <p>(4Q 2022)</p>
                                                                <h3>Establishing<br>Representative<br>Office</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                        </div>
                        </ul>
                    </div>
                </div>
        </div>
        </section>
        <div class="sud">
            <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 181.1" style="enable-background:new 0 0 1920 181.1;" xml:space="preserve">
                <style type="text/css">
                    .st0 {
                        fill-rule: evenodd;
                        clip-rule: evenodd;
                        fill: #10122d;
                    }
                </style>
                <g>
                    <path class="st0" d="M0,80c0,0,28.9-4.2,43-13c14.3-9,71-35.7,137,5c17.3,7.7,33.3,13,48,11c17.3,0.3,50.3,4.7,66,23
                        c20.3,9.7,68,40.3,134-12c24-11,59-16.3,104,2c21,7.3,85,27.7,117-14c24-30.7,62.7-55,141-12c26,10.3,72,14.7,110-14
                        c37.7-19,89.7-29,122,53c23,32.7,47.7,66.3,97,26c24-22.7,51-78.3,137-38c0,0,28.3,15.7,52,15c23.7-0.7,50.7,4.3,76,41
                        c19.7,19.7,71,36.7,121-2c0,0,22.3-16,55-12c0,0,32.7,6.7,56-71c23.3-76,79-92,122-29c9.3,13.7,25,42,62,43c37,1,51.7,25.3,67,48
                        c15.3,22.7,51,22.7,53,23v28.1H0V80z" />
                </g>
            </svg>
        </div>
    </div>
    </div>
    <div section-scroll='6' class="wd_scroll_wrap">
        <section class="tokens-area section">
            <div id="token-js">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="section-heading2">
                                <h2 class="wow  fadeInUp animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeInUp;">Rounds of Sale of Tokens</h2>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right wow  fadeInUp animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInUp;">
                                <div class="tokens mr-l50">
                                    <div class="token-name">Pre-sale</div>
                                    <div class="token-body">
                                        <p>Target  to Raise USD 500,000</p>
                                        <button class="left-btn">Price 1 BIT  $0.25</button>
                                        <span class="easypiechart skill-circle">
                                 <span class="percent head-font">20</span>
                                        <br>
                                        <span class="con">Special Bonus</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right wow  fadeInUp animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeInUp;">
                                <div class="tokens mr-r50">
                                    <div class="token-name">ICO</div>
                                    <div class="token-body">
                                        <p>Target  to Raise USD 20,000,000</p>
                                        <button class="right-btn">Price 1 BIT - $1.00</button>
                                        <div class="prices">
                                            <h3 class="f-20">Bonus for ICO :</h3>
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Time</th>
                                                        <th>bonus</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1day</td>
                                                        <td>35%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2 - 4 Days </td>
                                                        <td>20%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5 - 13 Days</td>
                                                        <td>10%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>14 - 31 Day</td>
                                                        <td>0%</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <p class="token-con wow  fadeInUp animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: fadeInUp;">The sale of tokens It is a long established fact that a reader will be distracted by the<span> readable content of a page when looking at its layout.</span>There are many variations of passages of Lorem Ipsum available. There are many variations of passages. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="token-details section bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="section-heading">
                            <h2 class="wow  fadeInUp animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeInUp;">Distribution of Tokens</h2>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
                        <div class="tokes-chart-slider wow animate fadeIn" data-wow-duration="1s">
                            <div class="cart-list">
                                <div class="chart col-sm-6">
                                    <div id="e_chart_3" class="" style="height:400px;"></div>
                                    <div class="imgs"><img src="home/images/icons/l.png" alt="" /></div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="label-chatrs">
                                        <div class="lsits">
                                            <span class="clabels-text">85%</span>
                                            <p>For participants of Pre-Sale and ICO</p>
                                        </div>
                                        <div class="lsits">
                                            <span class="clabels-text">8%</span>
                                            <p>Reserved for the team.</p>
                                        </div>
                                        <div class="lsits">
                                            <span class="clabels-text">4%</span>
                                            <p>Reserved for the consultants.</p>
                                        </div>
                                        <div class="lsits">
                                            <span class="clabels-text">3%</span>
                                            <p>Bounty campaign</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-list">
                                <div class="chart col-sm-6">
                                    <div id="e_chart_2" class="" style="height:400px;"></div>
                                    <div class="imgs"><img src="home/images/icons/l.png" alt="" /></div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="label-chatrs">
                                        <div class="lsits">
                                            <span class="clabels-text">85%</span>
                                            <p>For participants of Pre-Sale and ICO</p>
                                        </div>
                                        <div class="lsits">
                                            <span class="clabels-text">8%</span>
                                            <p>Reserved for the team.</p>
                                        </div>
                                        <div class="lsits">
                                            <span class="clabels-text">4%</span>
                                            <p>Reserved for the consultants.</p>
                                        </div>
                                        <div class="lsits">
                                            <span class="clabels-text">3%</span>
                                            <p>Bounty campaign</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contents text-center">
                            <h2 class="wow  fadeInUp animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInUp;">The issued tokens will be distributed as follows:</h2>
                            <a href="index.html#" class="btn1 wow  fadeInUp animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeInUp;">Download WhitePaper</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="sud">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 181.1" style="enable-background:new 0 0 1920 181.1;" xml:space="preserve">
                <style type="text/css">
                    .st0 {
                        fill-rule: evenodd;
                        clip-rule: evenodd;
                        fill: #10122d;
                    }
                </style>
                <g>
                    <path class="st0" d="M0,80c0,0,28.9-4.2,43-13c14.3-9,71-35.7,137,5c17.3,7.7,33.3,13,48,11c17.3,0.3,50.3,4.7,66,23
                     c20.3,9.7,68,40.3,134-12c24-11,59-16.3,104,2c21,7.3,85,27.7,117-14c24-30.7,62.7-55,141-12c26,10.3,72,14.7,110-14
                     c37.7-19,89.7-29,122,53c23,32.7,47.7,66.3,97,26c24-22.7,51-78.3,137-38c0,0,28.3,15.7,52,15c23.7-0.7,50.7,4.3,76,41
                     c19.7,19.7,71,36.7,121-2c0,0,22.3-16,55-12c0,0,32.7,6.7,56-71c23.3-76,79-92,122-29c9.3,13.7,25,42,62,43c37,1,51.7,25.3,67,48
                     c15.3,22.7,51,22.7,53,23v28.1H0V80z" />
                </g>
            </svg>
        </div>
    </div>
    <!--Footer area end here-->
    <!-- all js here -->
    <!-- jquery latest version -->
    <script src="home/js/vendor/jquery-3.2.1.min.js"></script>
    <!-- tether js -->
    <script src="home/js/tether.min.js"></script>
    <!-- bootstrap js -->
    <script src="home/js/bootstrap.min.js"></script>
    <!-- owl.carousel js -->
    <script src="home/js/owl.carousel.min.js"></script>
    <!-- meanmenu js -->
    <script src="home/js/jquery.meanmenu.js"></script>
    <!-- jquery-ui js -->
    <script src="home/js/jquery-ui.min.js"></script>
    <!-- easypiechart js -->
    <script src="home/js/jquery.easypiechart.min.js"></script>
    <!-- particles js -->
    <!-- wow js -->
    <script src="home/js/wow.min.js"></script>
    <!-- smooth-scroll js -->
    <script src="home/js/smooth-scroll.min.js"></script>
    <!-- plugins js -->
    <script src="home/js/plugins.js"></script>
    <!-- EChartJS JavaScript -->
    <script src="home/js/echarts-en.min.js"></script>
    <script src="home/js/echarts-liquidfill.min.js"></script>
    <script src="home/js/vc_round_chart.min.js"></script>
    <!-- main js -->
    <script src="home/js/main.js"></script>
</body>

</html>