<%- include('../partials/header/head.ejs')  %>
    <h2 class="py-5 text-center">Welcome to <span class="text-success">Home Page</span></h2>

    <%- include('../partials/footer.ejs')  %>
</body>
</html>

