<%- include('../partials/header/packageHead.ejs')  %>
<body>
    <div class="container py-5">
        <h3 class="text-center">We provide the best package, <span class="text-danger fw-bold"> Buy </span> and <span class="text-success fw-bold"> Earn </span> .</h3>
        <hr>
    </div>
      <div class="pricing-table my-3">
        <div class="ptable-item">
          <div class="ptable-single">
            <div class="ptable-header">
              <div class="ptable-title">
                <h2>Silver</h2>
              </div>
              <div class="ptable-price">
                <h2>1500<span> TK</span></h2>
              </div>
            </div>
            <div class="ptable-body">
              <div class="ptable-description">
                <ul>
                  <li>Silver</li>
                  <li>Commision 2% </li>
                  <li>Customer Support</li>
                  <li>Entry Level Package</li>
                </ul>
              </div>
            </div>
            <div class="ptable-footer">
              <div class="ptable-action">
                <a href="/package/buy?package=silver">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      
        <div class="ptable-item featured-item">
          <div class="ptable-single">
            <div class="ptable-header">
              <div class="ptable-status">
                <span>Hot</span>
              </div>
              <div class="ptable-title">
                <h2>Gold</h2>
              </div>
              <div class="ptable-price">
                <h2>6000<span> TK</span></h2>
              </div>
            </div>
            <div class="ptable-body">
              <div class="ptable-description">
                <ul>
                  <li>Gold</li>
                  <li>Commision 2.50% </li>
                  <li>Customer Support</li>
                  <li>Most Selling Package</li>
                </ul>
              </div>
            </div>
            <div class="ptable-footer">
              <div class="ptable-action">
                <a href="/package/buy?package=gold">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      
        <div class="ptable-item">
          <div class="ptable-single">
            <div class="ptable-header">
              <div class="ptable-title">
                <h2>Platinum</h2>
              </div>
              <div class="ptable-price">
                <h2>30000<span> TK</span></h2>
              </div>
            </div>
            <div class="ptable-body">
              <div class="ptable-description">
                <ul>
                  <li>Platinium</li>
                  <li>Commision 3% </li>
                  <li>Customer Support</li>
                  <li>Master Package</li>
                </ul>
              </div>
            </div>
            <div class="ptable-footer">
              <div class="ptable-action">
                <a href="/package/buy?package=platinium">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>