    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal top fade" id="referLink" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true"
        data-mdb-backdrop="static" data-mdb-keyboard="true">
        <div class="modal-dialog  ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal2Label">Refer code</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" name="" id="refer_id_in_modal" value="<%= user._id %>" hidden>
                    <p class="text-primary">
                        <%= user.isReffered ? user._id : "You did not referred yet!" %>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                        Close
                    </button>
                    <script>
                        function myFunction() {
                            var copyText = document.getElementById("refer_id_in_modal");
                            var copyBtn = document.getElementById("copyBtn");
                            copyText.select();
                            copyText.setSelectionRange(0, 99999); /* For mobile devices */
                            navigator.clipboard.writeText(copyText.value);
                            copyBtn.innerText = "coppied"
                        }
                    </script>
                    <% if(user.isReffered){ %> 
                        <button type="button" id="copyBtn" class="btn btn-primary" onclick="myFunction()">copy <i
                            class='bx bx-copy'></i></button>
                    <% }else{ %>
                        <a href="/user/get-refered" class="btn btn-primary">Get Reffered</a>
                    <% } %> 
                   
                </div>
            </div>
        </div>
    </div>


<!-- SIDEBAR -->
<div class="sidebar" style="background:#111;color:#FFF">
    <div class="sidebar-logo">
      <h2>Treaders BD</h2>
        <div class="sidebar-close" id="sidebar-close">
            <i class='bx bx-left-arrow-alt'></i>
        </div>
    </div>
    <div class="sidebar-user">
        <div class="sidebar-user-info">
            <img src="/images/user-image.jpg" alt="User picture" class="profile-image">
            <div class="sidebar-user-name">
                <%= user.username %> 
            </div>
        </div>
        <a  href="/" class="btn_user btn_user-outline" style="border: 2px solid white;">
            <i class='bx bx-log-out bx-flip-horizontal' style="color: white;"></i>
        </a>
    </div>
    <!-- SIDEBAR MENU -->
    <ul class="sidebar-menu">
        <style>
            .sidebar-menu li a:hover{
                color:yellow
            }
        </style>
        <li>
            <a href="">
                <i class='bx bxs-dollar-circle'></i>
                <span>Withdraw</span>
            </a>
        </li>
        <li>
            <a href="/user/my_package">
                <i class='bx bx-package'></i>
                <span>My package</span>
            </a>
        </li>
        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <i class='bx bxs-dollar-circle'></i>
                <span>Withdraw</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li>
                    <a href="/user/withdraw">
                        Withdraw Money
                    </a>
                </li>
                <li>
                    <a href="/user/withdraw/history">
                        Withdraw History
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/user/get-refered" >
                <i class='bx bx-link'></i>
                <span>Get referred</span>
            </a>
        </li>
        <li>
            <a href="#" data-mdb-toggle="modal" data-mdb-target="#referLink">
                <i class='bx bx-link'></i>
                <span>my refer link</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-pin'></i>
                <span>change password</span>
            </a>
        </li>
      
        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <i class='bx bx-cog'></i>
                <span>settings</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li>
                    <a href="#" class="darkmode-toggle" id="darkmode-toggle">
                        darkmode
                        <span class="darkmode-switch"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->

    <!-- MAIN CONTENT -->
    <div class="main">
        <div class="main-header">
            <div class="mobile-toggle" id="mobile-toggle">
                <i class='bx bx-menu-alt-right'></i>
            </div>
            <div class="main-title">
                dashboard
            </div>
        </div>